### Web Scraping

In [1]:
# importing some required libraries useful to scrape the website 
import requests
import pandas as pd

In [3]:
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M") #

In [4]:
from bs4 import BeautifulSoup
import lxml.html as hl

In [5]:
doc = hl.fromstring(url.content) # parsing the html content as single  element

In [6]:
tr_elements = doc.xpath("//tr")  # evaluating /tr  element and  storing  it.

In [7]:
[len(C) for C in tr_elements[:5]]

[3, 3, 3, 3, 3]

In [8]:
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d : %s'%(i,name))
    col.append((name,[]))

1 : Postcode
2 : Borough
3 : Neighbourhood

### Storing all Table content

In [9]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

### Storing dictionary as pandas dataframe

In [10]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [11]:
[len(C) for (title, C) in col]

[288, 288, 288]

In [12]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [13]:
df.dtypes

Postcode           object
Borough            object
Neighbourhood\n    object
dtype: object

In [14]:
df.shape

(288, 3)

### Filtering out unnecessary content  out of  dataframe

In [15]:
f1 = df['Borough'] == 'Not assigned'

In [16]:
data = df[~f1]

In [17]:
data.head()

  Postcode           Borough     Neighbourhood\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n

#### Reset the index

In [18]:
data.set_index('Postcode', inplace = True)

In [19]:
data.head()

                   Borough     Neighbourhood\n
Postcode
M3A             North York         Parkwoods\n
M4A             North York  Victoria Village\n
M5A       Downtown Toronto      Harbourfront\n
M5A       Downtown Toronto       Regent Park\n
M6A             North York  Lawrence Heights\n

In [20]:
data.index.name = 'Postcode'
data.reset_index(inplace = True)

In [21]:
data.head()

  Postcode           Borough     Neighbourhood\n
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M5A  Downtown Toronto       Regent Park\n
4      M6A        North York  Lawrence Heights\n

In [22]:
data.rename(columns={'Neighbourhood\n':'Neighbourhood'}, inplace = True)  #  removing some string part of Neighbourhood\n

C:\Users\SAIRAM\Anaconda3\Ajinkya\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [23]:
data_crop = data["Neighbourhood"]

In [24]:
data.drop("Neighbourhood", axis = 1, inplace = True)

C:\Users\SAIRAM\Anaconda3\Ajinkya\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [25]:
data_df = data_crop.to_frame()

In [26]:
data_2 = data_df.Neighbourhood.str.replace("\n","")

In [27]:
type(data_2)

pandas.core.series.Series

In [28]:
cleaned_data = data.merge(data_2.to_frame(), left_index=True, right_index=True)

In [29]:
cleaned_data.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [30]:
type(cleaned_data)

pandas.core.frame.DataFrame

In [31]:
cleaned_data.shape

(211, 3)

####  Combine  the rows who have same Postcode value

In [32]:
merge_data = cleaned_data.groupby(['Postcode','Borough'], as_index = False, sort= False).agg(','.join)

#### Assign the value at certain position

In [33]:
merge_data.at[4, 'Neighbourhood'] = 'Queen\'s Park'

In [34]:
merge_data.shape # Filtered datasets shape

(103, 3)

In [35]:
merge_data.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park
5      M9A         Etobicoke                 Islington Avenue
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

In [37]:
! pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Requirement already satisfied: click in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from geocoder) (1.12.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: decorator in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\sairam\anaconda3\ajinkya\lib\site-packages (from requests->geocoder) (2.8)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [38]:
import geocoder

In [39]:
geocoder.google('Toronto')

<[REQUEST_DENIED] Google - Geocode [empty]>

lat_lang_coords = None
while (lat_lang_coords is  None):
    g = geocoder.google('{}, Toronto, Ontario'.format('M5G'))
    lat_lng_coords = g.latlng
latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [42]:
import os

In [52]:
df1 = pd.read_csv("Geospatial_Coordinates.csv")

In [53]:
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [55]:
df1.shape

(103, 3)

In [57]:
df1.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [58]:
df1.rename(columns = {'Postal Code':'Postcode'}, inplace = True)

In [59]:
df1.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [60]:
 merge_lat_lang = pd.merge(merge_data, df1, on = 'Postcode')

In [62]:
merge_lat_lang.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494